<div class="container">
  <!-- #PROFILE -->
  <section class="profile" data-profile-card></section>

  <!-- TAB -->
  <section class="tab-container">
    <div class="tab-list" aria-label="Tab navigation" role="tablist">
      <button
        class="tab-btn"
        aria-selected="true"
        role="tab"
        id="tab-1"
        tabindex="0"
        aria-controls="panel-1"
        data-tab-btn
      >
        Repositories
      </button>
      <button
        class="tab-btn"
        aria-selected="false"
        role="tab"
        id="tab-2"
        tabindex="-1"
        aria-controls="panel-2"
        data-tab-btn
        data-forked-tab-btn
      >
        Forked
      </button>
      <button
        class="tab-btn"
        aria-selected="false"
        role="tab"
        id="tab-3"
        tabindex="-1"
        aria-controls="panel-3"
        data-tab-btn
        data-follower-tab-btn
      >
        Followers
      </button>
      <button
        class="tab-btn"
        aria-selected="false"
        role="tab"
        id="tab-4"
        tabindex="-1"
        aria-controls="panel-4"
        data-tab-btn
        data-following-tab-btn
      >
        Following
      </button>
    </div>

    <div
      class="tab-panel"
      role="tabpanel"
      id="panel-1"
      aria-labelledby="tab-1"
      tabindex="0"
      data-tab-panel
      data-repo-panel
    ></div>
    <div
      class="tab-panel"
      role="tabpanel"
      id="panel-2"
      aria-labelledby="tab-2"
      tabindex="0"
      data-tab-panel
      data-fork-panel
      hidden
    ></div>
    <div
      class="tab-panel"
      role="tabpanel"
      id="panel-3"
      aria-labelledby="tab-3"
      tabindex="0"
      data-tab-panel
      data-follower-panel
      hidden
    ></div>
    <div
      class="tab-panel"
      role="tabpanel"
      id="panel-4"
      aria-labelledby="tab-4"
      tabindex="0"
      data-tab-panel
      data-following-panel
      hidden
    ></div>
  </section>

  <!-- #ERROR CONTENT -->
  <section class="error" data-error></section>
</div>
